.popup-img {
  margin: auto;
  width: 100%;
  height: auto;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0s, opacity 1s;
}
